.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/src/vendor/old_1.0/API/bashPath.js
/config/dev.env.js
.eslintignore
config/index.js
