<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>mytitle</title>
	</head>

	<body>
		<div id="bodyBox">
			<gc-container :component-store="pageHCon">
				<div slot="header">
				</div>
				<gc-manager :component-store="pmanager">
					<template slot="quickSearchItems">
						<el-form-item label="问卷名称" prop="qt_name">
							<el-input v-model="serviceForm.bindMutual.data.qt_name" size="mini"></el-input>
						</el-form-item>
						<el-form-item label="发布者" prop="qt_publicher">
							<el-input v-model="serviceForm.bindMutual.data.qt_publicher" size="mini"></el-input>
						</el-form-item>
					</template>
					<!-- 常用的操作-->
					<template slot="often">
						<el-button type="info" @click='addDialogVisible = true' title="更多条件" size="mini">新增</el-button>
						<el-button type="info" title="导出" size="mini">导出</el-button>
						<el-button type="info" title="导出" size="mini">打包</el-button>
					</template>
					<template slot="allSearchItems">
						<gc-form :component-store="moreForm">
							<el-form-item label="问卷名称" prop="qt_name">
								<el-input v-model="moreForm.bindMutual.data.qt_name" size="mini"></el-input>
							</el-form-item>
							<el-form-item label="发布者" prop="qt_publicher">
								<el-input v-model="moreForm.bindMutual.data.qt_publicher" size="mini"></el-input>
							</el-form-item>
						</gc-form>
					</template>
					<template slot="dataCloumns">
						<el-table-column prop="qt_name" label="问卷名称" width="120">
						</el-table-column>
						<el-table-column prop="qt_publicherId" label="发布者" width="120">
						</el-table-column>
						<el-table-column prop="qt_forUser" min-width="100" label="发放用户">
						</el-table-column>
						<el-table-column prop="qt_publistDate" min-width="120" sortable label="发布日期">
						</el-table-column>
						<el-table-column prop="qt_surverTasksId" min-width="80" label="调查任务">
						</el-table-column>
						<el-table-column prop="qt_startDate" min-width="120" sortable label="开始时间">
						</el-table-column>
						<el-table-column prop="qt_endDate" min-width="120" sortable label="结束时间">
						</el-table-column>
						<el-table-column prop="qt_last_update_time" min-width="120" sortable label="最后更新时间">
						</el-table-column>
					</template>
				</gc-manager>
			</gc-container>

			<!--增加问卷开始-->

			<el-dialog title="增加问卷" :visible.sync="addDialogVisible" width="50vw" top="15vh">
				<div style="overflow-y:scroll;height:50vh;padding:0 15px">
					<el-form :model="addQuestionnaireStore.formData.data" ref='addForm' :rules='addQuestionnaireStore.formData.rules' label-width="80px">
						<el-form-item prop='qtName' label="名称">
							<el-col :span="18">
								<el-input v-model='addQuestionnaireStore.formData.data.qtName' size="mini" placeholder="请输入问卷名称"></el-input>
							</el-col>
						</el-form-item>
						<el-form-item prop='qtForUser' label="发放用户">
							<el-col :span="18">
								<el-input v-model='addQuestionnaireStore.formData.data.qtForUser' size="mini" placeholder="请选择"></el-input>
							</el-col>
						</el-form-item>
						<el-form-item prop='qtSurverTasksId' label="调查任务">
							<el-col :span="18">
								<el-input v-model='addQuestionnaireStore.formData.data.qtSurverTasksId' size="mini" placeholder="请选择调查任务"></el-input>
							</el-col>
						</el-form-item>
						<el-form-item prop='' label="开始时间">
							<el-col :span="18">
								<el-date-picker size="mini" v-model="addQuestionnaireStore.formData.data.qtStartDate" type="datetime" placeholder="请选择开始时间">
							</el-col>
						</el-form-item>
						<el-form-item prop='' label="结束时间">
							<el-col :span="18">
								<el-date-picker size="mini" v-model="addQuestionnaireStore.formData.data.qtEndDate" type="datetime" placeholder="请选择结束时间">
							</el-col>
						</el-form-item>
					</el-form>
				</div>
				<span slot="footer" class="dialog-footer">
					<el-button size="small" @click="addQuestionnaire">增 加</el-button>
				    <el-button size="small" @click="addDialogVisible= false">取 消</el-button>
  				</span>
			</el-dialog>
			<!--增加问卷结束-->
			<!--修改问卷开始-->
			<el-dialog title="修改问卷" :visible.sync="updateDialogVisible" width="50vw" top="15vh">
				<div style="overflow-y:scroll;height:50vh;padding:0 15px">
					<el-form :model="updateQuestionnaireFormStore.formData.data" ref='addForm' :rules='updateQuestionnaireFormStore.formData.rules' label-width="80px">
						<el-form-item prop='qtName' label="问卷名称">
							<el-col :span="18">
								<el-input v-model='updateQuestionnaireFormStore.formData.data.qtName' size="mini" placeholder="请输入问卷名称"></el-input>
							</el-col>
						</el-form-item>
						<el-form-item prop='qtForUser' label="发放用户">
							<el-col :span="18">
								<el-input v-model='updateQuestionnaireFormStore.formData.data.qtForUser' size="mini" placeholder="请选择"></el-input>
							</el-col>
						</el-form-item>
						<el-form-item prop='qtSurverTasksId' label="调查任务">
							<el-col :span="18">
								<el-input v-model='updateQuestionnaireFormStore.formData.data.qtSurverTasksId' size="mini" placeholder="请选择调查任务"></el-input>
							</el-col>
						</el-form-item>
						<el-form-item prop='' label="开始时间">
							<el-col :span="18">
								<el-date-picker size="mini" v-model="updateQuestionnaireFormStore.formData.data.qtStartDate" type="datetime" placeholder="请选择开始时间">
							</el-col>
						</el-form-item>
						<el-form-item prop='' label="结束时间">
							<el-col :span="18">
								<el-date-picker size="mini" v-model="updateQuestionnaireFormStore.formData.data.qtEndDate" type="datetime" placeholder="请选择结束时间">
							</el-col>
						</el-form-item>
					</el-form>
				</div>
				<span slot="footer" class="dialog-footer">
					<el-button size="small" @click="updateQuestionnaire">修 改</el-button>
				    <el-button size="small" @click="updateDialogVisible= false">取 消</el-button>
  				</span>
			</el-dialog>
			<!--修改问卷结束-->
		</div>
	</body>

</html>